{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="yIimRRNvbOiOrWRj8tgN-8fp39YM636FvhdQqCcfgbY" />
    <meta name="msvalidate.01" content="4C170AB63B370E30D70955199A9A7B67" />
    <meta name="description" content="Activate Peacock TV on your smart TV or streaming device at peacocktv.com/tv. Follow our step-by-step guide to enter your activation code and start streaming.">
    <meta name="keywords" content="peacocktv.com/tv, Peacock TV activation, activate Peacock TV, Peacock TV login, Peacock TV code entry, stream Peacock TV">
    <meta name="robots" content="index, follow">
    <title>WWW.PeacockTV.com tv – Activate Peacock TV on Your Device</title>
    {{ super() }}
{% endblock %}
